doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
  body
    .demo 默认index页面, 请在开始项目前删除所有的示例文件(image　pug stylus css scss less)
